{{#partial "content"}}
    {{#if teams}}
        <h2>{{teams.nameOfTeam}}</h2><br><hr><a href="/teams/{{teams.id}}/update">Edit Team Name</a></h5>
        <ul>
            <h3>Team Description:<br><hr> {{teams.description}}</h3><br><br>
            <h4>Team members:</h4>
            <hr>
                {{#if members}}
                    {{#each members}}
                        <h5>{{this}}</h5>
                    {{/each}}
                    {{else if email}}
                    {{#each email}}
                        <h5>{{this}}</h5>
                    {{/each}}
                    <hr>
                {{else}}
                    <p>There are no member's currently listed.</p>

                {{/if}}
            <hr>
            </ul>
    {{else}}
        <p>No Teams to display!</p>
        <hr>
    {{/if}}
<hr>

    <form action="/teams/{{teams.id}}" method="post">
        <div class="form-group">
            <label for="members">Add a new teammate:</label>
            <input id="members" name="members" class="form-control" type="text" required>
        </div>
        <div class="form-group">
            <label for="email">Add Email</label>
            <input id="email" name="email" class="form-control" type="text" required>
        </div>
            <button type="submit" class="btn">Add a new team member</button>

    </form>

{{/partial}}

{{> layout.hbs}}