{{#partial "content"}}
    {{#if teams}}
        <h2>{{teams.nameOfTeam}}</h2></h5><br><a href="/teams/{{teams.id}}/update">Edit Team Name</a></h5>
        <ul>
            <h3>Team Description:<br> {{teams.description}}</h3><br><br>
            <h5>Team members:<li>
            <ul>
                {{#if members}}
                    {{#each members}}
                        <h5>{{members}}</h5>
                    {{/each}}
                {{else}}
                    <p>There are no member's currently listed.</p>
                {{/if}}
            </ul>
        </ul>
    {{else}}
        <p>No Teams to display!</p>
    {{/if}}

    <form action="/teams/{{teams.id}}" method="post">
        <div class="form-group">
            <label for="members">Add a new teammate:</label>
            <input id="members" name="members" class="form-control" type="text" required>
            <button type="submit" class="btn btn-success">Add a new team member</button>
        </div>
    </form>
{{/partial}}

{{> layout.hbs}}